.card {
  /*margin-top: 10px;*/
/*  border: none;*/
 /* width: 500px;
  padding: 40px;*/
  /*position: absolute;
  top: 50%;
  left: 50%;*/
/*  transform: translate(-50%, -50%);
  background: hsla(205,46%, 30%,1);
  background: linear-gradient(90deg, hsla(205,46%, 30%,1),hsla(260,29%,36%,1) 100%)*/
}
h1,h6{
    color:azure;

}
.back {
  background-image: url('https://media.istockphoto.com/photos/round-podium-or-pedestal-with-blue-background-picture-id1226478932?b=1&k=20&m=1226478932&s=170667a&w=0&h=hXsvxQilNanpKx7QC_tIsFUOKPl8fdIDfJ_QSKXesGE=');
}
